{% extends 'main/layout.html' %}

{% block title %}
    Новости и акции!
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости и акции!</h1>
        {% for el in news %}
            <div class="card text-white bg-dark mb-3">
                <h3>{{el.title}}</h3>
                <p>{{el.description}}</p>
                 <a href="{% url 'news_details' el.id %}" class="btn  btn-warning">Перейти на страницу Скидки!</a>
            </div>
         {% endfor %}
    </div>
{% endblock %}