[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pre-commit = "*"
flake8 = "*"
autoflake = "*"
python-dotenv = "*"
psycopg2 = "*"
asgiref = "*"
sqlparse = "*"
drf-spectacular = "*"
django-rest-swagger = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.12"
