{% extends 'main/layout.html' %}


{% block title %}
    Про нас
{% endblock %}

{% block content %}
       <div class="features">
        <h1> Про нас</h1>
        <p>Мы скоро здесь появимся! Спасибо за интерес к нашему проекту.
            Сейчас мы активно работаем над запуском, чтобы предложить вам лучшее.
            Пожалуйста, загляните чуть позже — нас ждут большие открытия!
            Если у вас есть вопросы, пишите нам на email@example.com, и мы обязательно ответим.
            Скоро увидимся!
        </p>
        <button class="btn  btn-dark">Перейти на главную страницу!</button>
    </div>
{% endblock %}
